<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<!-- This is the plugin descriptor for UnBBayes' PRM module. -->
<!-- unbbayes.controller.prm.PRMController references the plugin id and extension point's ids, so, do not change them -->
<plugin id="unbbayes.prs.prm" version="0.1.1">
    <requires>
        <import plugin-id="unbbayes.util.extension.core"/>
    </requires>
    <runtime>
        <library type="resources" path="icons/" id="icons">
        	<export prefix="*"/>
        </library>
        <!-- It seems that loaders does not work as expected on jar files -->
        <!-- If you change/add the libraries, change/add these library declaration too -->
        <library id="unbbayes.prs.prm" path="unbbayes.prs.prm-0.1.1.jar" type="code" >
        	<export prefix="*"/>
        </library>
    </runtime>
    
    <!-- Probabilistic Relational Model I/O extension point. 
     	 Hot plug is enabled.
    	 This extension point is basically a set of different classes implementing
    	 unbbayes.io.BaseIO, in order to add new IO functions into this PRM
    	 module. The class must contain a public default constructor (no parameters).
    	 	Parameters:
    	 		class: this is the class to implement unbbayes.io.BaseIO. It MUST have a default constructor
    	 			   with no parameters.
    	 	    name: this is basically what an user will see when a conflict occurs 
    	 	          (when more than 1 class can handle a given file).
    -->
    <extension-point id="PRMIO">
        <parameter-def id="class"/>
        <parameter-def id="name"/>
    </extension-point>
    <extension plugin-id="unbbayes.util.extension.core" point-id="Module" id="PRM">
        <parameter id="class" value="unbbayes.gui.prm.PRMWindow" />
        <parameter id="name" value="PRM" />
        <parameter id="builder" value="unbbayes.gui.prm.extension.PRMWindowBuilder" />
		<parameter id="description" value="Probabilistic Relational Model - ALPHA" />
		<parameter id="icon" value="prmIcon.png" />
		<parameter id="category" value="bn" />
    </extension>
</plugin>
