<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<!-- This is a plugin descriptor for incremental learning module -->
<plugin id="unbbayes.learning.incrementalLearning" version="1.1.0">
    <requires>
        <import plugin-id="unbbayes.util.extension.core"/>
        <import plugin-id="unbbayes.learning"/>
    </requires>
    <runtime>
        <library id="incrementalLearning" path="classes/" type="code">
            <export prefix="*" />
        </library>
        <library type="resources" path="icons/" id="icons" />
    </runtime>
    <extension plugin-id="unbbayes.util.extension.core" point-id="Module" id="IncrementalLearning">
        <parameter id="class" value="unbbayes.learning.incrementalLearning.gui.extension.IncrementalLearningModule" />
        <parameter id="name" value="Incremental Learning" />
        <parameter id="builder" value="unbbayes.learning.incrementalLearning.gui.extension.IncrementalLearningModule" />
		<parameter id="description" value="Incremental Learning Module" />
		<parameter id="icon" value="learning.png" />
		<parameter id="category" value="tool" />
    </extension>
</plugin>
