<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<!-- This is the plugin descriptor for UnBBayes' MEBN module. -->
<plugin id="unbbayes.pomc" version="1.0.0">
    <requires>
        <import plugin-id="unbbayes.util.extension.core"/>
    </requires>
    <runtime>
        <library type="resources" path="icons/" id="icons">
        	<export prefix="*"/>
        </library>
        <!-- It seems that loaders does not work as expected on jar files -->
        <!-- If you change/add the libraries, change/add these library declaration too -->
        <library id="unbbayes.pomc" path="unbbayes.pomc-1.0.0.jar" type="code" >
        	<export prefix="*"/>
        </library>
    </runtime>
    <extension plugin-id="unbbayes.util.extension.core" point-id="Module" id="POMC">
        <parameter id="class" value="unbbayes.gui.pomc.PomcModule" />
        <parameter id="name" value="POMC" />
        <!-- If  PomcModule doesen'have default construtor, i'll need to add a new parameter 
        here <parameter id="builder" value="PomcModuleBuilder">  -->
        
		<parameter id="description" value="Probabilist Ontology Modeling Cycle" />
		<parameter id="icon" value="new-msbn.png" />
		<parameter id="category" value="tool" />
    </extension>
</plugin>
