<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<!-- This is medical metaphor plugin (module plugin). -->
<plugin id="unbbayes.metaphor" version="1.0.0">
    <requires>
        <import plugin-id="unbbayes.util.extension.core"/>
    </requires>
    <runtime>
        <library id="metaphor" path="classes/" type="code">
            <export prefix="*" />
        </library>
        <library type="resources" path="icons/" id="icons" />
    </runtime>
    <extension plugin-id="unbbayes.util.extension.core" point-id="Module" id="medicalMetaphor">
        <parameter id="class" value="unbbayes.metaphor.extension.MetaphorModule" />
        <parameter id="name" value="Medical Metaphor" />
        <parameter id="builder" value="unbbayes.metaphor.extension.MetaphorModule" />
		<parameter id="description" value="Medical Metaphor Project" />
		<parameter id="icon" value="open.png" />
		<parameter id="category" value="tool" />
    </extension>
</plugin>
