<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="unbbayes.util.extension.core" version="1.0.0"
    class="unbbayes.util.extension.PluginCore">
    <runtime>
        <library id="core" path="/" type="code">
            <export prefix="*" />
        </library>
    </runtime>
    <!-- Module extension point. 
    	 UnBBayes' modules are basically new internal frames which are started when toolbars or menu are chosen.
    	 This extension point must implement unbbayes.gui.IPersistenceAwareWindow and provide the following informations:
    	 	class: full class name;
    	 	name: name of the functionality
    	 	description: tool tip text. Currently, no localization is supported.
    	 	icon: icon (image) to be used at the tool bar's button. 
    -->
    <extension-point id="Module">
        <parameter-def id="class"/>
        <parameter-def id="name"/>
		<parameter-def id="description" multiplicity="none-or-one" />
		<parameter-def id="icon" multiplicity="none-or-one" />
    </extension-point>
</plugin>
