<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<!-- This is the plugin descriptor for UnBBayes-MEBN extension to add protege functions and OWL2/PR-OWL2 features. -->
<!-- This version uses Protege4.1 as a library, but because protege4.1 does not work in non OSGI environments, several adaptations had to be made... -->
<plugin id="unbbayes.gui.featuremodel" version="0.0.1">
    <requires>
        <import plugin-id="unbbayes.util.extension.core"/>
        <import plugin-id="unbbayes.gui.mebn.ontology.protege" plugin-version="1.0.1"/>
    </requires>
     
     <extension plugin-id="unbbayes.util.extension.core" point-id="Module" id="FM">
        <parameter id="class" value="unbbayes.gui.featuremodel.extension.FeatureModelPanelBuilder" />
        <parameter id="name" value="Search plug-in suggestion using OWL reasoner" />
		<parameter id="description" value="Test of Feature Model using OWL" />
		<parameter id="icon" value="individual.gif" />
		<parameter id="builder" value="unbbayes.gui.featuremodel.extension.FeatureModelPanelBuilder" />
		<parameter id="category" value="tool" />
    </extension>
</plugin>
