<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<!-- This is a plugin for new nodes in MEBN.  -->
<plugin id="unbbayes.prs.mebn.identity" version="1.0.0">
    <requires>
        <import plugin-id="unbbayes.prs.mebn"/>
        <import plugin-id="unbbayes.io.mebn.UbfIO" plugin-version="1.1.0"/>
    </requires>
    <runtime>
        <library type="resources" path="icons/" id="icons">
        	<export prefix="*"/>
        </library>
    </runtime>
    <extension plugin-id="unbbayes.prs.mebn" point-id="MEBNPluginNode" id="IdentityNode">
        <parameter id="class" value="unbbayes.prs.mebn.IdentityNode" />
        <parameter id="name" value="Identity node" />
        <parameter id="shapeClass" value="unbbayes.draw.UShapeIdentityNode"/>
		<parameter id="panelBuilder" value="unbbayes.gui.mebn.extension.node.IdentityNodePanelBuilder"/>
		<parameter id="description" value="Node that returns its argument" />
		<parameter id="icon" value="identity.gif" />
		<parameter id="cursor" value="cursor-identity.gif" />
    </extension>
</plugin>
