<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<!-- This is a sample knowledge base plugin for MEBN.  -->
<plugin id="unbbayes.prs.mebn.kb.powerloom.stub" version="0.0.1">
    <requires>
        <import plugin-id="unbbayes.prs.mebn"/>
    </requires>
    <extension plugin-id="unbbayes.prs.mebn" point-id="KnowledgeBase" id="PowerLoomKB">
        <parameter id="class" value="unbbayes.prs.mebn.kb.extension.PowerLoomExtensionBuilder" />
        <parameter id="name" value="Simple PowerLoom Extension" />
    </extension>
</plugin>
