<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<!-- This is the plugin descriptor for UnBBayes' OOBN module. -->
<plugin id="unbbayes.prs.oobn" version="1.0.1">
    <requires>
        <import plugin-id="unbbayes.util.extension.core"/>
        <import plugin-id="unbbayes.prs.msbn"/>
    </requires>
    <runtime>
        <library id="oobn" path="classes/" type="code">
            <export prefix="*" />
        </library>
        <library type="resources" path="icons/" id="icons" />
    </runtime>
    <extension plugin-id="unbbayes.util.extension.core" point-id="Module" id="OOBN">
        <parameter id="class" value="unbbayes.gui.oobn.OOBNWindow" />
        <parameter id="name" value="OOBN" />
        <parameter id="builder" value="unbbayes.gui.oobn.extension.OOBNWindowBuilder" />
		<parameter id="description" value="Object Oriented Bayesian Network" />
		<parameter id="icon" value="new-oobn.png" />
		<parameter id="category" value="bn" />
    </extension>
</plugin>
