<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<!-- This is a plugin for decision/utility nodes in MEBN.  -->
<plugin id="unbbayes.prs.medg" version="0.0.1">
    <requires>
<!--     	<import plugin-id="unbbayes.util.extension.core" plugin-version="4.11.4"/> -->
        <import plugin-id="unbbayes.prs.mebn" plugin-version="1.18.14"/>
<!--        <import plugin-id="unbbayes.gui.mebn.ontology.protege" plugin-version="1.2.7"/> -->
<!--        <import plugin-id="unbbayes.io.mebn.UbfIO2"/> -->
    </requires>
    <runtime>
        <library type="resources" path="icons/" id="icons">
        	<export prefix="*"/>
        </library>
        <library type="resources" path="resources/" id="resources">
        	<!-- This is where pr-owl definitions resides -->
        	<export prefix="*"/>
        </library>
        <!-- It seems that loaders does not work as expected on jar files -->
        <!-- If you change/add the libraries, change/add these library declaration too -->
        <library id="unbbayes.prs.medg" path="unbbayes.prs.medg-0.0.1.jar" type="code" >
        	<export prefix="*"/>
        </library>
    </runtime>
    <extension plugin-id="unbbayes.prs.mebn" point-id="MEBNPluginNode" id="MultiEntityDecisionNode">
        <parameter id="class" value="unbbayes.prs.medg.MultiEntityDecisionNode" />
        <parameter id="name" value="Decision" />
        <parameter id="shapeClass" value="unbbayes.draw.medg.UShapeMultiEntityDecisionNode"/>
		<parameter id="panelBuilder" value="unbbayes.gui.medg.MultiEntityDecisionNodePanelBuilder"/>
		<parameter id="description" value="Decision node for MEDG" />
		<parameter id="icon" value="decision-node.gif" />
		<parameter id="cursor" value="cursor-decision.gif" />
    </extension>
    <extension plugin-id="unbbayes.prs.mebn" point-id="MEBNPluginNode" id="MultiEntityUtilityNode">
        <parameter id="class" value="unbbayes.prs.medg.MultiEntityUtilityNode" />
        <parameter id="name" value="Utility" />
        <parameter id="shapeClass" value="unbbayes.draw.medg.UShapeMultiEntityUtilityNode"/>
		<parameter id="panelBuilder" value="unbbayes.gui.medg.MultiEntityUtilityNodePanelBuilder"/>
		<parameter id="description" value="Utility node for MEDG" />
		<parameter id="icon" value="utility-node.gif" />
		<parameter id="cursor" value="cursor-utility.gif" />
    </extension>
    
    <extension plugin-id="unbbayes.prs.mebn" point-id="SSBN" id="SSIDGenerator">
        <parameter id="class" value="unbbayes.prs.medg.ssid.SSIDGeneratorBuilder" />
        <parameter id="name" value="SSID generator" />
        <parameter id="optionPanel" value="unbbayes.gui.medg.ssid.SSIDOptionPanel" />
    </extension>
    
    
    <extension plugin-id="unbbayes.prs.mebn" point-id="MEBNIO" id="MEDGUBFIO2">
        <parameter id="class" value="unbbayes.io.medg.MEDGUBFIO2" />
        <parameter id="name" value="PR-OWL 2 Decision" />
    </extension>
    
    <extension plugin-id="unbbayes.prs.mebn" point-id="MEBNIO" id="MEDGUBFIO">
        <parameter id="class" value="unbbayes.io.medg.MEDGUBFIO" />
        <parameter id="name" value="PR-OWL Decision" />
    </extension>
</plugin>
