<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<!-- This is a plugin descriptor for Inference module which absorbs all evidences -->
<!-- This is not a new plugin, because it only adds special config into existing algorithm -->
<plugin id="unbbayes.gui.option.extension.AutomaticAbsortionJunctionTreeOptionPanel" version="0.0.1">
    <requires>
        <import plugin-id="unbbayes.util.extension.core" plugin-version="4.11.5"/>
    </requires>
    <extension plugin-id="unbbayes.util.extension.core" point-id="InferenceAlgorithm" id="AutomaticAbsortionJunctionTreeOptionPanel">
        <parameter id="class" value="unbbayes.gui.option.extension.AutomaticAbsortionJunctionTreeOptionPanel" />
    </extension>
</plugin>
