<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="unbbayes.prs.bn.valueTree" version="1.1.0">
    <requires>
        <import plugin-id="unbbayes.util.extension.core" plugin-version="4.17.8"/>
        <import plugin-id="unbbayes.prs.bn.inference.extension.MinProductJunctionTree"/>
    </requires>
    <runtime>
        <library id="valueTree" path="classes/" type="code">
            <export prefix="*" />
        </library>
        <library type="resources" path="icons/" id="valueTreeIcons" />
    </runtime>
    
    
    <extension plugin-id="unbbayes.util.extension.core" point-id="PluginNode" id="ValueTreeProbabilisticNode">
        <parameter id="class" value="unbbayes.prs.bn.valueTree.ValueTreeProbabilisticNode" />
        <!-- 
		<parameter id="icon" value="icon_stub.gif" />
		<parameter id="cursor" value="cursor_stub.gif" /> 
         -->
        <parameter id="name" value="VTShadowNode" />
        <parameter id="shapeClass" value="unbbayes.prs.bn.valueTree.plugin.ValueTreeNodeUShapeBuilder" />
        <parameter id="panelBuilder" value= "unbbayes.prs.bn.valueTree.plugin.ValueTreePanelBuilder" />
        <parameter id="description" value="Nodes using value tree" />
    </extension> 
     <extension plugin-id="unbbayes.util.extension.core" point-id="PNIO" id="ValueTreeNetIO">
        <parameter id="class" value="unbbayes.io.ValueTreeNetIO" />
        <parameter id="name" value="ValueTree" />
    </extension>
</plugin>
