<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<!-- This is a plugin descriptor for Likelihood weighting Sampling and Inference module -->
<plugin id="unbbayes.prs.bn.inference.extension.MinProductJunctionTree" version="0.0.1">
    <requires>
        <import plugin-id="unbbayes.util.extension.core"/>
    </requires>
    <runtime>
        <library type="resources" path="icons/" id="icons">
        	<export prefix="*"/>
        </library>
        <!-- It seems that loaders does not work as expected on jar files -->
        <!-- If you change/add the libraries, change/add these library declaration too -->
        <library id="unbbayes.prs.bn.inference.extension.MinProductJunctionTree" path="unbbayes.prs.bn.inference.extension.MinProductJunctionTree-0.0.1.jar" type="code" >
        	<export prefix="*"/>
        </library>
    </runtime>
    <extension plugin-id="unbbayes.util.extension.core" point-id="InferenceAlgorithm" id="MinProductJunctionTree">
        <parameter id="class" value="unbbayes.gui.option.extension.JunctionTreeLPEOptionPanel" />
    </extension>
</plugin>
