<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<!-- This is the plugin descriptor for UnBBayes' datamining module (UnBMiner). -->
<plugin id="unbbayes.datamining" version="1.1.0">
    <requires>
        <import plugin-id="unbbayes.util.extension.core"/>
        <import plugin-id="unbbayes.learning"/>
    </requires>
    <runtime>
        <library type="resources" path="icons/" id="unbMinerIcons">
        	<export prefix="*"/>
        </library>
        <!-- It seems that loaders does not work as expected on jar files -->
        <!-- If you change/add the libraries, change/add these library declaration too -->
        <library id="unbbayes.datamining" path="unbbayes.datamining-1.1.0.jar" type="code" />
        <library id="miglayout15-swing" path="lib/miglayout15-swing-1.0.jar" type="code" />
        <library id="plot-1.0" path="lib/plot-1.0.jar" type="code" />
    </runtime>
    <extension plugin-id="unbbayes.util.extension.core" point-id="Module" id="unbminer">
        <parameter id="class" value="unbbayes.datamining.gui.extension.UnBMinerJPFModule" />
        <parameter id="name" value="Data Mining Project" />
        <parameter id="builder" value="unbbayes.datamining.gui.extension.UnBMinerJPFModule" />
		<parameter id="description" value="UnBBayes Dataminer - UnBMiner" />
		<parameter id="icon" value="mining.png" />
		<parameter id="category" value="tool" />
    </extension>
</plugin>
