<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<!-- This is the plugin descriptor for UnBBayes-MEBN extension to provide MEBN-based question generation feature for scicast project. -->
<plugin id="edu.gmu.scicast.mebn.questionGenerator" version="0.0.1">
    <requires>
        <import plugin-id="unbbayes.util.extension.core" plugin-version="4.11.4" />
        <import plugin-id="unbbayes.prs.mebn" plugin-version="1.13.10"/>
        <import plugin-id="unbbayes.gui.mebn.ontology.protege" plugin-version="2.0.0"/>
    </requires>
    <runtime>
       	<!-- Because dist.xml creates the resources folder, we must include it -->
        <library type="resources" path="resources/" id="resources">
        	<export prefix="*"/>
        </library>
        <library type="code" path="lib/" id="lib">
        	<export prefix="*"/>
        </library>
        <!-- It seems that loaders does not work as expected on jar files -->
        <!-- If you change/add the libraries, change/add these library declaration too -->
        <library id="edu.gmu.scicast.mebn.questionGenerator" path="edu.gmu.scicast.mebn.questionGenerator-0.0.1.jar" type="code" >
        	<export prefix="*"/>
        </library>
    </runtime>
    
    <!-- DL reasoner for PR-OWL2 in OWL2 -->
    <extension plugin-id="unbbayes.prs.mebn" point-id="KnowledgeBase" id="TuuyiPROWL2">
        <parameter id="class" value="edu.gmu.scicast.mebn.kb.TuuyiDataBaseBuilder"/>
        <parameter id="name" value="Tuuyi Server"/>
        <parameter id="optionPanel" value="edu.gmu.scicast.mebn.gui.TuuyiServerOptionPanelBuilder"/>
    </extension>
    
</plugin>
