<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="unbbayes.bn.inference" version="1.0.0">
<!-- This is a sample configuration for Inference Algorithm extension -->
    <requires>
        <import plugin-id="unbbayes.util.extension.core"/>
    </requires>
    <runtime>
        <library id="stubInference" path="classes/" type="code">
            <export prefix="*" />
        </library>
        <library type="resources" path="resources/" id="resources" />
    </runtime>
    <extension plugin-id="unbbayes.util.extension.core" point-id="InferenceAlgorithm" id="stubInference">
        <parameter id="class" value="unbbayes.util.extension.bn.inference.StubAlgorithmOptionPanel" />
    </extension>
</plugin>
