<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="unbbayes.cps" version="1.0.0">
    <requires>
        <import plugin-id="unbbayes.util.extension.core"/>
    </requires>
    <runtime>
        <library id="cps" path="classes/" type="code">
            <export prefix="*" />
        </library>
        <library type="resources" path="icons/" id="cps_icons" />
    </runtime>
    <extension plugin-id="unbbayes.util.extension.core" point-id="ProbabilityFunctionPanel" id="cps_ProbabilisticNode">
        <parameter id="class" value="unbbayes.prs.bn.ProbabilisticNode" />
        <parameter id="name" value="Script edition" />
        <parameter id="panelBuilder" value= "unbbayes.cps.gui.extension.CPSPanelBuilder" />
        <parameter id="description" value="Edit conditional probability function using scripts" />
		<parameter id="icon" value="new_script.png" />
    </extension>
    
    <extension plugin-id="unbbayes.util.extension.core" point-id="ProbabilityFunctionPanel" id="cps_DecisionNode">
        <parameter id="class" value="unbbayes.prs.id.DecisionNode" />
        <parameter id="name" value="Script edition" />
        <parameter id="panelBuilder" value= "unbbayes.cps.gui.extension.CPSPanelBuilder" />
        <parameter id="description" value="Edit conditional probability function using scripts" />
		<parameter id="icon" value="new_script.png" />
    </extension>
    
    <extension plugin-id="unbbayes.util.extension.core" point-id="ProbabilityFunctionPanel" id="cps_UtilityNode">
        <parameter id="class" value="unbbayes.prs.id.UtilityNode" />
        <parameter id="name" value="Script edition" />
        <parameter id="panelBuilder" value= "unbbayes.cps.gui.extension.CPSPanelBuilder" />
        <parameter id="description" value="Edit conditional probability function using scripts" />
		<parameter id="icon" value="new_script.png" />
    </extension>
</plugin>
