<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<!-- This is the plugin descriptor for UnBBayes' MEBN to msbn converter. -->
<plugin id="unbbayes.prs.mebn.ssbn.ssmsbn" version="1.0.0">
    <requires>
        <import plugin-id="unbbayes.util.extension.core"/>
        <import plugin-id="unbbayes.prs.mebn"/>
        <import plugin-id="unbbayes.prs.msbn"/>
        
    </requires>
    <runtime>
        <library type="resources" path="icons/" id="icons">
        	<export prefix="*"/>
        </library>
        <library type="resources" path="resources/" id="resources">
        	<!-- This is where pr-owl definitions resides -->
        	<export prefix="*"/>
        </library>
        <!-- It seems that loaders does not work as expected on jar files -->
        <!-- If you change/add the libraries, change/add these library declaration too -->
        <library id="unbbayes.prs.mebn.ssbn.ssmsbn" path="unbbayes.prs.mebn.ssbn.ssmsbn-1.0.0.jar" type="code" >
        	<export prefix="*"/>
        </library>
    
    </runtime>
    
    <extension plugin-id="unbbayes.prs.mebn" point-id="SSBN" id="SSMSBN">
        <parameter id="class" value="unbbayes.prs.mebn.ssbn.extension.ssmsbn.SSMSBNAlgorithmBuilder" />
        <parameter id="name" value="SSMSBN" />
		<parameter id="optionPanel" value="unbbayes.gui.mebn.extension.ssmsbn.LaskeyAlgorithmOptionPanalBuilderSSMSBN"></parameter>
    </extension>
</plugin>
