<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<!-- This is the plugin descriptor for UnBBayes' MEBN to msbn converter. -->
<plugin id="unbbayes.prs.mebn.ssbn.ssmsbn" version="1.0.0">
    <requires>
        <import plugin-id="unbbayes.util.extension.core"/>
        <import plugin-id="unbbayes.prs.mebn"/>
        <import plugin-id="unbbayes.prs.msbn"/>
        
    </requires>
    <runtime>
        <library type="resources" path="icons/" id="icons">
        	<export prefix="*"/>
        </library>
        <library type="resources" path="resources/" id="resources">
        	<!-- This is where pr-owl definitions resides -->
        	<export prefix="*"/>
        </library>
        <!-- It seems that loaders does not work as expected on jar files -->
        <!-- If you change/add the libraries, change/add these library declaration too -->
        <library id="unbbayes.prs.mebn.ssbn.ssmsbn" path="unbbayes.prs.mebn.ssbn.ssmsbn-1.0.0.jar" type="code" >
        	<export prefix="*"/>
        </library>
    
    </runtime>
   
    
    <!-- Situation Specific Bayesian Network generation extension point. 
     	 Hot plug is enabled.
    	 This extension point is basically a set of different classes implementing
    	 unbbayes.prs.mebn.ssbn.extension.ISSBNGeneratorBuilder, in order to add new SSBN
    	 Generation algorithms into this MEBN.
    	 module. The class must contain a public default constructor (no parameters).
    	 	Parameters:
    	 		class: this is a class implementing unbbayes.prs.mebn.ssbn.extension.ISSBNGeneratorBuilder. 
    	 		       It MUST provide a default constructor with no parameters.
    	 	    name: this is basically a name to identify a particular SSBN generation algorithm.
    	 	    optionPanel : this is a panel to be used as a form to fill attributes for this SSBN Algorithm.
    	 	           It MUST unbbayes.gui.mebn.extension.ssbn.ISSBNOptionPanelBuilder.
    	 	           It MUST provide a default constructor with no parameters.
    -->
    <extension-point id="SSBN">
        <parameter-def id="class"/>
        <parameter-def id="name"/>
        <parameter-def multiplicity="none-or-one" id="optionPanel"/>
    </extension-point>
    
    <extension plugin-id=" unbbayes.prs.mebn" point-id="SSBN" id="SSMSBN">
        <parameter id="class" value="unbbayes.prs.mebn.ssbn.extension.SSMSBNBuilder" />
        <parameter id="name" value="SSMSBN" />

    </extension>
</plugin>
