<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="unbbayes.prs.markov" version="0.0.1">
    <requires>
        <import plugin-id="unbbayes.util.extension.core" plugin-version="4.21.18"/>
    </requires>
    <runtime>
        <library id="markov" path="classes/" type="code">
            <export prefix="*" />
        </library>
        <library type="resources" path="icons/" id="markovIcons" />
    </runtime>
    
    
    <extension plugin-id="unbbayes.util.extension.core" point-id="InferenceAlgorithm" id="UniformMarkovNetJunctionTree">
        <parameter id="class" value="unbbayes.gui.option.extension.UniformMarkovNetJunctionTreeOptionPanel" />
    </extension>
</plugin>
