<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<!-- This is a plugin descriptor for Monte Carlo Sampling module -->
<plugin id="unbbayes.simulation.montecarlo.sampling" version="1.0.1">
    <requires>
        <import plugin-id="unbbayes.util.extension.core"/>
    </requires>
    <runtime>
        <library id="montecarlo" path="classes/" type="code">
            <export prefix="*" />
        </library>
        <library type="resources" path="icons/" id="icons" />
    </runtime>
    <extension plugin-id="unbbayes.util.extension.core" point-id="Module" id="montecarlo">
        <parameter id="class" value="unbbayes.simulation.montecarlo.gui.extension.MonteCarloModule" />
        <parameter id="name" value="Logic Sampling" />
        <parameter id="builder" value="unbbayes.simulation.montecarlo.gui.extension.MonteCarloModule" />
		<parameter id="description" value="Sampling using Matrix Monte Carlo" />
		<parameter id="icon" value="sampling.png" />
		<parameter id="category" value="sampling" />
    </extension>
</plugin>
