<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<!-- This is the plugin descriptor for UnBBayes-MEBN extension to add protege functions and OWL2/PR-OWL2 features. -->
<!-- This version uses Protege4.1 as a library, but because protege4.1 does not work in non OSGI environments, several adaptations had to be made... -->
<plugin id="unbbayes.prs.mebn.prowl2rl" version="1.0.0">
    
    <requires>
        <import plugin-id="unbbayes.prs.mebn" plugin-version="1.14.13"/>
        <import plugin-id="unbbayes.gui.mebn.ontology.protege" plugin-version="1.1.4"/>
    </requires>
    
    <runtime>
       	<!-- Because dist.xml creates the resources folder, we must include it -->
        <library type="resources" path="resources/" id="resources">
            <!-- This folder contains JARS that Protege4.1 loads using OSGI. Because OSGI and JPF uses different (sometimes incompatible) mechanisms for plug-ins, they must be separated -->
        	<export prefix="*"/>
        </library>
    </runtime>
    
    <!-- 
     <extension plugin-id="unbbayes.prs.mebn" point-id="MEBNEditorPanel" id="Protege41Entities">
        <parameter id="class" value="unbbayes.gui.mebn.extension.Protege41EntityPanelBuilder" />
        <parameter id="name" value="OWL2Entities" />
        <parameter id="description" value="Edit OWL2 entities using Protégé 4.1 editor" />
        <parameter id="icon" value="class.gif" />
    </extension>
    
    <extension plugin-id="unbbayes.prs.mebn" point-id="MEBNEditorPanel" id="OWL2Properties2Node">
        <parameter id="class" value="unbbayes.gui.mebn.extension.OWL2PropertyImportPanelBuilder" />
        <parameter id="name" value="Property2Node" />
        <parameter id="icon" value="properties2node.png" />
        <parameter id="description" value="Convert OWL2 properties to MEBN resident nodes" />
    </extension>
    -->
     
    <extension plugin-id="unbbayes.prs.mebn" point-id="KnowledgeBase" id="TriplestorePROWL2RL">
        <parameter id="class" value="unbbayes.prs.mebn.kb.extension.triplestore.TriplestoreKnowledgeBaseBuilder"/>
        <parameter id="name" value="Triplestore Reasoner"/>
        <parameter id="optionPanel" value="unbbayes.gui.mebn.extension.kb.triplestore.TriplestoreOptionPanelBuilder"/>
        <parameter id="toolbar" value="unbbayes.gui.mebn.extension.kb.triplestore.TriplestoreToolBarBuilder"/>
    </extension>
    
   <extension plugin-id="unbbayes.prs.mebn" point-id="SSBN" id="BayesBall">
        <parameter id="class" value="unbbayes.prs.mebn.ssbn.bayesballalgorithm.BayesBallSSBNGeneratorBuilder" />
        <parameter id="name" value="Bayes-Ball" />
    </extension>    
  
</plugin>
