<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<!-- This is the plugin descriptor for UnBBayes-MEBN extension to add protege functions and OWL2/PR-OWL2 features. -->
<!-- This version uses Protege4.1 as a library, but because protege4.1 does not work in non OSGI environments, several adaptations had to be made... -->
<plugin id="unbbayes.prs.mebn.ontology.prowl2.textmode" version="1.0.0">
    <requires>
        <import plugin-id="unbbayes.util.extension.core" plugin-version="4.21.18" />
        <import plugin-id="unbbayes.prs.mebn" plugin-version="1.16.13"/>
    </requires>
    <runtime>
       	<!-- Because dist.xml creates the resources folder, we must include it -->
        <library type="resources" path="resources/" id="resources">
            <!-- This folder contains JARS that Protege4.1 loads using OSGI. Because OSGI and JPF uses different (sometimes incompatible) mechanisms for plug-ins, they must be separated -->
        	<export prefix="*"/>
        </library>
        <library type="resources" path="conf/" id="conf">
        	<export prefix="*"/>
        </library>
        <library type="code" path="lib/" id="lib">
        	<!-- This is where protege resources resides -->
        	<export prefix="*"/>
        </library>
        <!-- It seems that loaders does not work as expected on jar files -->
        <!-- If you change/add the libraries, change/add these library declaration too -->
        <library id="unbbayes.prs.mebn.ontology.prowl2.textmode" path="unbbayes.prs.mebn.ontology.prowl2.textmode-1.0.0.jar" type="code" >
        	<export prefix="*"/>
        </library>
        <!-- TODO JPF seems to fail on importing JARs if it is not specifically mentioned (wildcards on folders seems to fail) -->

        <library id="org.semanticweb.HermiT" path="lib/org.semanticweb.HermiT-1.2.5.927.jar" type="code" >
        	<export prefix="*"/>
        </library>
        <!-- The following is declared just in case HermiT's developers decide not to release jar files with capital letters anymore -->
        <library id="org.semanticweb.HermiT.lowerCase" path="lib/org.semanticweb.hermit-1.2.5.927.jar" type="code" >
        	<export prefix="*"/>
        </library>
        <library id="org.semanticweb.owl.owlapi" path="lib/org.semanticweb.owl.owlapi-3.1.0.1602.jar" type="code" >
        	<export prefix="*"/>
        </library>
        
    </runtime>
     <!-- TODO add IO and KB extension points -->
     <!--
    <extension plugin-id="unbbayes.prs.mebn" point-id="KnowledgeBase" id="Protege41Reasoners4PROWL2">
        <parameter id="class" value="unbbayes.prs.mebn.kb.extension.ontology.protege.PROWL2KnowledgeBaseBuilder"/>
        <parameter id="name" value="Protégé reasoners (for PR-OWL 2)"/>
        <parameter id="optionPanel" value="unbbayes.gui.mebn.extension.kb.protege.OWL2KnowledgeBaseOptionPanelBuilder"/>
    </extension>
   
    <extension plugin-id="unbbayes.prs.mebn" point-id="MEBNIO" id="UbfIO2">
        <parameter id="class" value="unbbayes.io.mebn.prowl2.UbfIO2" />
        <parameter id="name" value="UnBBayes File with PR-OWL 2.0" />
    </extension>
    -->
</plugin>
