<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<!-- This is the plugin descriptor for UnBBayes' PRM module. -->
<plugin id="unbbayes.gui.mebn.ontology.protege" version="0.0.1">
    <requires>
        <import plugin-id="unbbayes.util.extension.core"/>
        <import plugin-id="unbbayes.prs.mebn" plugin-version="1.7.0"/>
    </requires>
    <runtime>
       	<!-- Because dist.xml creates the resources folder, we must include it -->
        <library type="resources" path="resources/" id="resources">
        	<export prefix="*"/>
        </library>
        <!-- It seems that loaders does not work as expected on jar files -->
        <!-- If you change/add the libraries, change/add these library declaration too -->
        <library id="unbbayes.prs.prm" path="unbbayes.gui.mebn.ontology.protege-0.0.1.jar" type="code" >
        	<export prefix="*"/>
        </library>
    </runtime>
     <extension plugin-id="unbbayes.prs.mebn" point-id="MEBNEditorPanel" id="Properties2Node">
        <parameter id="class" value="unbbayes.gui.mebn.extension.OWLPropertyImportPanelBuilder" />
        <parameter id="name" value="Property2Node" />
        <parameter id="icon" value="properties2node.png" />
        <parameter id="description" value="Convert OWL properties to MEBN resident node" />
    </extension>
    
     <extension plugin-id="unbbayes.prs.mebn" point-id="MEBNEditorPanel" id="ProtegeClasses">
        <parameter id="class" value="unbbayes.gui.mebn.extension.ProtegeOWLClassPanelBuilder" />
        <parameter id="name" value="OWLClasses" />
        <parameter id="description" value="Edit OWL classes using Protégé editor" />
        <parameter id="icon" value="class.gif" />
    </extension>
    
     <extension plugin-id="unbbayes.prs.mebn" point-id="MEBNEditorPanel" id="ProtegeProperties">
        <parameter id="class" value="unbbayes.gui.mebn.extension.ProtegeOWLPropertyPanelBuilder" />
        <parameter id="name" value="OWLProperties" />
        <parameter id="icon" value="properties.png" />
        <parameter id="description" value="Edit OWL properties using Protégé editor" />
    </extension>
    
     <extension plugin-id="unbbayes.prs.mebn" point-id="MEBNEditorPanel" id="ProtegeIndividuals">
        <parameter id="class" value="unbbayes.gui.mebn.extension.ProtegeOWLIndividualsPanelBuilder" />
        <parameter id="name" value="OWLIndividuals" />
        <parameter id="description" value="Edit OWL individuals using Protégé editor" />
        <parameter id="icon" value="individual.gif" />
    </extension>
</plugin>
